{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam", ".cl_test/*"]}.

{cover_enabled, true}.

{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.

{validate_app_modules, true}.

{deps,
  [
   %% public
   {eunit_formatters,
       ".*", {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
  ]
}.
